@font-face {
    font-family: "Coming Soon";
    src: url("/webfonts/ComingSoon.ttf");
}
@font-face {
    font-family: "Moon Flower Bold";
    src: url("/webfonts/MoonFlowerBold.ttf");
}

/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

header {
    box-shadow: 0 0 15px rgba(0,0,0,.15);
}

.apscv-navbar {
    background-color: white;
}

main {
    padding-top: 100px;
    padding-bottom: 1px;
}

footer {
    padding-top: 20px;
    background-color: white;
}

section {
    margin-bottom: 30px;
}

a {
    color: #7A5020;
}

a:hover {
    color: #7A5020;
}

.section-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Coming Soon', cursive !important;
    padding: 20px;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Coming Soon', cursive;
}

h3 {
    margin-top: 30px;
    font-size: 1.2rem;
    font-family: 'Coming Soon', cursive;
}

p {
    margin-left: 20px;
}

.section-title {
    margin: 20px 0;
    text-align: center;
}

.section-title-soft {
    color: rgba(0,0,0,0.4);
    font-size: 17px;
    font-family: 'Coming Soon', cursive;
}

.section-title-title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}

.section-content {
    font-family: 'Coming Soon', cursive;
    padding: 15px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.service-block {
    position: relative;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    font-family: 'Coming Soon', cursive;
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
    .service-block {
        width: 30%;
    }
}

.service-block:hover {
    transform: scale(1.05, 1.05);
}

.service-block::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
    transition: opacity 0.1s ease-in-out;
}

.service-block:hover::after {
    opacity: 1;
}

.service-title {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 10px;
}

.service-title > .fa {
    font-size: 40px;
    color: #B6DAAD;
}

.service-details {
    padding: 20px 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.01);
}

.service-details-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.service-details-list > li {
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
}

.service-description {
    padding: 20px 10px;
    font-size: 13px;
    color: rgba(0,0,0,0.6);
    text-align: center;
}

.service-footer {
    padding: 20px 10px 60px;
    position: relative;
}

.service-buttons > .btn-outline-primary {
    color: #629E52;
    background: transparent none;
    border-color: #629E52;
    width: 100%;
    margin-bottom: 10px;
}

.service-buttons > .btn-primary {
    color: #fff;
    background-color: #629E52;
    border-color: #629E52;
    width: 100%;
}

.service-buttons > .btn-primary:hover,
.service-buttons > .btn-outline-primary:hover {
    color: #fff;
    background-color: #418031;
    border-color: #418031;
}

.service-price {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #629E52;
    color: white;
    transform: translate(-50%,50%);
    left: 50%;
}

.service-price-small {
    font-size: 12px;
}

.service-price-price {
    display: block;
    font-size: 24px;
    font-weight: 600;
}

.intervention-map {
    padding: 0;
    height: 500px;
    background: url(/img/intervention.jpg) no-repeat center;
    background-size: cover;
}

.contact-title {
    text-transform: uppercase;
}

.table thead th {
    border-top: none;
}

.pricing-container,
.products-container {
    max-width: 100vw;
}

.pricing-table-wrapper,
.products-table-wrapper {
    overflow: auto;
}

.navbar {
    font-family: 'Moon Flower Bold', cursive;
    font-size: 1.6rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .navbar-collapse {
        flex-basis: auto;
    }

    .apscv-navbar {
        justify-content: space-between !important;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
