main {
    margin-top: 76px;
}

section:nth-child(2n+2) {
    background-color: #f8f9fa;
}

.section-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Coming-Soon-Regular', cursive;
    padding: 20px;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Coming-Soon-Regular', cursive;
}

h3 {
    margin-top: 30px;
    font-size: 1.2rem;
    font-family: 'Coming-Soon-Regular', cursive;
}

p {
    margin-left: 20px;
}

.section-content {
    font-family: 'Coming-Soon-Regular', cursive;
}

.services-list {
    list-style: none;
}

.services-list i {
    margin-left: -28px;
    padding-right: 10px;
}

.services-list li:not(:last-child) {
    margin-bottom: 15px;
}

.contact-title {
    text-transform: uppercase;
}

.table thead th {
    border-top: none;
}